.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 820px;
  width: 1920 px;
  background-color: #f7efe5;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 5rem;
  color: #674188;
  font-family: sans-serif;
}
h2 {
  font-size: 4rem;
  color: #c8a1e0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.header img {
  border-radius: 50%;
}
.row1 {
  padding-left: 470px;
  padding-top: 40px;
}
.skills img {
  height: 200px;
  width: 300px;
  border-radius: 20%;
  float: left;
  padding-right: 20px;
}

.skills {
  padding-left: 400px;
  padding-right: 400px;
}
h3 {
  color: #674188;
}
.footer {
  background-color: #c8a1e0;
}
